<!DOCTYPE html>
<html lang="ru">
<head>
    <script type="text/javascript" src="http://vk.com/js/api/openapi.js?87"></script>
    <?php echo $this->getChildHtml('head') ?>
</head>
<body class="home">
    <?php echo $this->getChildHtml('header') ?>
    <section id="page">
        <div id="content" role="main">
            <?php echo $this->getChildHtml('content') ?>

            <h3>Новости</h3>
            <div id="news">
                <article>
                    <div class="innerWrapper">
                        <time>21 ноября 2012</time>
                        <h4><a href="article.html">Акриловые ванны недостатки и преимущества, ванны из каменной массы, квариловые ванны.</a></h4>
                        <p>История этого предмета насчитывает несколько столетий. Есть сведения что первая ванная была изготовлена из камня и дерева, позднее их стали производить из различных металлов.</p>
                    </div>
                    <a href="article.html" class="moreLink">Подробнее</a>
                </article>
                <article>
                    <div class="innerWrapper">
                        <time>1 августа 2012</time>
                        <h4><a href="article.html">Массажные системы в ванне. Гидромассажные ванны</a></h4>
                        <p>Для того, чтобы избежать проблем с выбранной гидромассажной ванной и ее оборудованием, стоит обратить внимание на несколько существенных условий.</p>
                    </div>
                    <a href="article.html" class="moreLink">Подробнее</a>
                </article>
                <article>
                    <div class="innerWrapper">
                        <time>26 июля 2012</time>
                        <h4><a href="article.html">Ванны - материалы, размеры и цены. Чугунные ванны и ванны из эмалированной стали</a></h4>
                        <p>Ванны различных видов, форм и размеров сегодня изготавливают из самых различных материалов. Это акрил, ванны, из каменной массы, кварил, старилан, марбекс, композитные материалы минерального литья (называемые также поликерамикой), сталь, чугун, дерево, стекло, медь.</p>
                    </div>
                    <a href="article.html" class="moreLink">Подробнее</a>
                </article>
            </div>
        </div><!--#/content--><!--r/main-->
    </section><!--#/page-->

    <?php echo $this->getChildHtml('footer') ?>

    <?php echo $this->getChildHtml('before_body_end'); ?>
</body>
</html>