body.home nav.visual {
	font-size: 21px;
	font-style: italic;
	margin-bottom: 14px;
	overflow: hidden;
}

body.home nav.visual a {
	text-decoration: none;
}

body.home nav.visual .flyLink {
	width: 200px;
	height: 29px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 180px;
	/*&*/
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	behavior: url('pie/PIE.htc');
	border-radius: 2px;
}

body.home nav.visual .flyLink > a {
	display: block;
	height: 24px;
	margin: 0;
	padding-top: 5px;
	width: 100%;
}

body.home #vNavPlumbing {
	margin-left: 392px;
	margin-top: -547px;
}

body.home #vNavFurniture {
	margin-left: 140px;
	margin-top: -425px;
}

body.home #vNavMaterials {
	margin-left: 658px;
	margin-top: -425px;
}

body.home #vNavAccessories {
	margin-left: 52px;
	margin-top: -105px;
}

body.home #vNavTiles {
	margin-left: 390px;
	margin-top: -105px;
}

body.home #vNavHeating {
	margin-left: 798px;
	margin-top: -105px;
}

body.home nav.visual .flyLink:hover {
	background: url('image/button-background.png') repeat-x;
	height: auto;
	overflow: visible;
}

body.home nav.visual .flyLink:hover > a {
	color: #ffffff;
}

body.home nav.visual .flyLink ul {
	/*background: rgba(255, 255, 255, 0.5);*/
	background: rgba(255, 255, 255, 0.9);
	list-style: none;
	overflow: hidden;
	padding: 10px 0;
}

body.home nav.visual .flyLink ul li {
	margin: 0;
}

body.home nav.visual .flyLink ul li a {
	font-size: 13px;
	font-style: normal;
}

body.home nav.visual .flyLink ul li a:hover {
	color: #a00000;
}

body.home #content h3 {
	margin: 6px 0 18px;
}

body.home #news {
	overflow: hidden;
}

body.home #news article {
	float: left;
	width: 275px;
}

body.home #news article + article {
	margin-left: 65px;
}

body.home #news article .innerWrapper {
	height: 100%;
	margin-bottom: 30px;
}

body.home #news article > a {
	color: #666666;
	display: none;
	font-size: 12px;
	margin-top: -50px;
	text-align: right;
}

body.home #news article > a:hover {
	color: #a00000;
}

body.home #news article h4 {
	margin: 20px 0;
}