/* Layout
=============================================================================*/

section {
	clear: both;
	margin: 0 auto;
	width: 968px;
}

body.sidebarRight #content, body.sidebarRight #sidebar {
	float: left;
}

body.sidebarRight #content {
	width: 700px;
}

body.sidebarRight #sidebar {
	padding: 0 24px;
	width: 220px;
}

body.sidebarLeft #content, body.sidebarLeft #sidebar {
	float: right;
}

body.sidebarLeft #content {
	width: 736px;
}

body.sidebarLeft #sidebar {
	width: 232px;
}

#mainNavigation {
	margin-bottom: 8px;
}

#mainHeader {
	margin-bottom: 50px;
}

#page {
	overflow: hidden;
	margin-bottom: 30px;
}

/* Hacks
=============================================================================*/

.clear {
	clear: both;
}

.unordered {
	list-style: none;
}

/* Customize
=============================================================================*/

body {
	background: url('image/background.png') repeat-x #e0e1e0;
}

.iconCart {
	background: url('image/icon-cart.png') no-repeat center right;
	padding: 0 29px 0 0;
}

.required {
	background: url('image/required.png') no-repeat 0 2px;
	padding-left: 9px;
}

/* Forms
---------------------------------------*/

a.button, button, input[type=button], input[type=submit] {
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: url('image/button-background.png') repeat-x;
	behavior: url('pie/PIE.htc');
	border: none;
	border-radius: 2px;
	height: 29px;
	margin: 0 2px;
}

a.button {
	height: 29px;
	padding-top: 5px;
	padding-bottom: 5px;
}

a.button:hover, button:hover, input[type=button]:hover, input[type=submit]:hover {
	background-image: url('image/button-background-hovered.png');
}

#headerSearch input[type=submit] {
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url('pie/PIE.htc');
	border-radius: 4px;
}

/* Breadcrumbs
---------------------------------------*/

nav.breadcrumbs {
	font-size: 13px;
	margin-bottom: 13px;
}

nav.breadcrumbs ul {
	list-style: none;
	overflow: hidden;
}

nav.breadcrumbs ul li {
	float: left;
	overflow: hidden;
	margin: 0;
}

nav.breadcrumbs ul li + li {
	background: url('image/separator.png') 8px 50% no-repeat;
	padding-left: 23px;
}

nav.breadcrumbs ul li a {
	text-decoration: none;
}

/* Good Widget
---------------------------------------*/

.goodList {
	overflow: hidden;
}

.goodList .widget {
	background: #ffffff;
	float: left;
	margin-bottom: 20px;
	width: 220px;
}

.goodList.tableView .widget {
	margin-right: 8px;
}

.goodList .widget .innerWrapper {
	background: #ffffff;
	height: 100%;
}

.goodList .widget header {
	font-size: 18px;
	padding: 23px 10px 10px 10px;
	text-align: center;
	text-transform: uppercase;
}

.goodList .widget header h2 {
	margin-bottom: 36px;
}

.goodList .widget header h2 a {
	text-decoration: none;
}

.goodList .widget .description {
	background: url('image/widget-inner-shadow.png') no-repeat center 0;
	padding: 25px 10px 54px 10px;
}

.goodList .widget .description p {
	line-height: 15px;
}

.goodList .widget footer {
	margin-left: 10px;
	margin-top: -39px;
}

.goodList .widget footer a {
	width: 167px;
}

.goodList .widget footer a span {
	display: inline-block;
	width: 135px;
}

/* Good Widget (Table View)
---------------------------------------*/

.goodList.tableView {
	padding-left: 30px;
}

.goodList.tableView .widget .footer {
	display: none;
}

/* Pagination
---------------------------------------*/

#pagination {
	margin-top: 20px;
	overflow: hidden;
}

#pagination .innerWrapper {
	float: left;
	left: 50%;
	position: relative;
}

#pagination ul {
	list-style: none;
	margin-left: -50%;
	overflow: hidden;
}

#pagination li {
	float: left;
	margin: 0;
	/*overflow: hidden;*/
}

#pagination li + li {
	margin-left: 17px;
}

#pagination li.text, #pagination li.text a {
	font-size: 11px;
}

#pagination li.static {
	padding: 4px 9px;
}

#pagination li a {
	display: block;
	font-size: 14px;
	padding: 4px 9px;
	text-align: center;
	text-decoration: none;
}

#pagination li.active a {
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}

/* Drop Downs
---------------------------------------*/

.styledDropDown {
	cursor: default;
	display: block;
	display: inline-block;
	height: 23px;
}

.styledDropDown.ddHidden {
	overflow: hidden;
}

.styledDropDown .title {
	background: url('image/drop-down-arrow.png') no-repeat 95% 50%;
	border: 1px solid #afb1b0;
}

.styledDropDown ul {
	background: #ffffff;
	border: 1px solid #afb1b0;
	border-top: none;
	position: relative;
	z-index: 99;
}

.styledDropDown .title, .styledDropDown li {
	padding: 0 12px 0 6px;
}

.styledDropDown .title {
	
}

.styledDropDown li {
	/*color: #666666;*/
	list-style: none;
	margin: 0;
}

.styledDropDown li:hover, .styledDropDown li.active:hover {
	background: #666666;
	color: #ffffff;
}

.styledDropDown li.active {
	color: #a00000;
	/*background: #;*/
}

/* Main Navigation
-----------------------------------------------------------------------------*/

#mainNavigation > nav {
	border-bottom: 2px solid #333;
	height: 42px;
}

#mainNavigation > nav > ul {
	height: 100%;
	/*overflow: hidden;*/
}

#mainNavigation > nav > ul li {
	float: left;
	height: 100%;
	list-style: none;
	margin-left: 0;
	/* X */
	position: relative;
	z-index: 100;
}

#mainNavigation > nav > ul li.last {
	height: 42px;
	position: absolute;
	text-align: right;
	width: 968px;
	z-index: 1;
}

#mainNavigation > nav > ul li a {
	background: url('image/main-navigation-background.png') repeat-x #992525;
	display: block;
	height: 30px;
	padding: 12px 25px 0;
}

#mainNavigation > nav > ul li.last a {
	padding-right: 22px;
}

#mainNavigation > nav > ul li.active a:hover,
#mainNavigation > nav > ul li a:hover {
	/*background: #992525;*/
	background: #af1b1b;
}

#mainNavigation > nav > ul li.active a {
	background: url('image/main-navigation-background-hovered.png') repeat-x #992525;
}

/* Main Navigation Submenu
---------------------------------------*/

#navItemCategory.hover, #navItemCategory:hover {
	background: #af1b1b;
	color: #ffffff;
	padding-bottom: 2px;
}

#navItemCategorySubmenu {
	background: #940101 url('image/catalog-menu-bg.png') repeat-x;
	color: #ffffff;
	display: none;
	/*height: 203px;*/
	overflow: hidden;
	padding-bottom: 15px;
	position: absolute;
	top: 44px;
	width: 968px;
	z-index: 199;
}

#navItemCategorySubmenu h4 {
	border-bottom: 1px solid rgb(153, 67, 67);
	clear: both;
	font-size: 18px;
	font-weight: normal;
	margin: 12px 35px 12px 0;
	padding-bottom: 3px;
	margin-left: 32px;
}

#navItemCategorySubmenu h4 a {
	color: #fff;
	text-decoration: none;
}

#navItemCategorySubmenu ul {
	list-style: none;
	overflow: hidden;
	margin-left: 32px;
}

#navItemCategorySubmenu li {
	border-left: 1px solid #af5b5b;
	float: left;
	line-height: 14px;
	margin: 0;
	min-width: 140px;
	padding-bottom: 3px;
	padding-left: 8px;
	width: 215px;
}

#navItemCategorySubmenu li a {
	color: #ffffff;
	font-size: 12px;
}

#navItemCategorySubmenu li a:hover {
	text-decoration: underline;
}

/* Header
-----------------------------------------------------------------------------*/

#mainHeader header {
	overflow: hidden;
}

#banner {
	background: url('image/banner.png') no-repeat;
	float: left;
	height: 125px;
	width: 292px;
}

#banner a {
	color: transparent;
	display: block;
	height: 100%;
	text-decoration: none;
	width: 100%;
}

#headerOptions {
	float: right;
}

#headerSearch {
	background: #ffffff;
	margin-bottom: 10px;
}

#headerSearch input[type=text] {
	background: url('image/icon-search.png') no-repeat 5px center;
	border: none;
	outline: none;
	padding: 4px 0 3px 29px;
	width: 331px;
}

#headerSearch input[type=submit] {
	height: 26px;
	padding: 0 18px;
	margin: 2px;
}

#headerOptions .options {
	background-position: 6px 0;
	background-repeat: no-repeat;
	padding-left: 44px;
}

#headerContacts {
	float: right;
	width: 220px;
}

#headerContacts .dropDown {
	height: 22px;
	margin-left:-12px;
	overflow: hidden;
	padding-left: 2px;
	position:absolute;
	width: 230px;
}

#headerContacts .dropDown em {
	background: url('image/icon-arrow-down.png') no-repeat right;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 4px;
	padding-right: 35px;
}

#headerContacts .dropDown div {
	margin-top: 4px;
}

#headerContacts .dropDown:hover {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	height: auto;
	margin-left: -20px;
	margin-top: -1px;
	padding: 0 5px;
}

#headerContacts .dropDown:hover em {
	padding-left: 4px;
}

#headerContacts .options {
	background-image: url('image/icon-phone.png');
}

#userPanel .options {
	background-image: url('image/icon-key.png');
	margin-bottom: 1px;
	padding-bottom: 6px;
}

#cart .options {
	background-image: url('image/icon-cart-silver.png');
	padding-bottom: 6px;
}

/* Page
-----------------------------------------------------------------------------*/



/* Footer
-----------------------------------------------------------------------------*/

#footerWrapper {
	background: #ffffff;
}

#mainFooter footer {
	overflow: hidden;
	padding: 5px 0;
}

#mainFooter footer table {
	float: left;
	margin-top: 5px;
}

#mainFooter footer td {
	padding-right: 30px;
	vertical-align: bottom;
}

#mainFooter footer ul li {
	list-style: none;
	margin-left: 0;
}

#footerContacts {
	float: right;
}

#footerContacts address, #footerContacts .socials {
	text-align: right;
}

#footerContacts .socials {
	margin-bottom: 9px;
	overflow: hidden;
}

.gpButton, .vkButton {
	float: right;
}

#widget_bounds table {
	float: right;
}