body.news aside h3 {
	margin-bottom: 10px;
}

body.news #content h3 {
	margin-bottom: 20px;
}

body.news #news {
	padding-right: 6px;
}

body.news article h4 {
	margin-top: 20px;
}

body.news article p {
	margin-top: 20px;
}

body.news article > a {
	color: #666666;
	display: block;
	font-size: 12px;
	text-align: right;
}

body.news article > a:hover {
	color: #a00000;
}