/* 
Here I merged to resets:
1. Richard Clark’s CSS reset v1.6.1
   http://html5doctor.com/html-5-reset-stylesheet/
   Author:Richard Clark - http://richclarkdesign.com 
2. normalize.css v2.1.0
   http://git.io/normalize
   Author:Nicolas Gallagher - https://github.com/necolas
*/

a,abbr,address,article,aside,audio,b,blockquote,body,button,canvas,caption,
cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,
form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,
legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,
summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video {
	background:transparent;
	border:0;
	font-family:inherit;
	font-size:100%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}

 {
	margin: 0;
}

body,html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-family:sans-serif;
	line-height:1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

audio,canvas,video {
	display:inline-block;
}

audio:not([controls]) {
	display:none;
	height:0;
}

img {
	border:0;
}

svg:not(:root) {
	overflow:hidden;
}

[hidden] {
	display:none;
}

li {
	margin-left:35px;
}

blockquote,q {
	quotes:none;
}

blockquote:after,blockquote:before,q:after,q:before {
	content:'';
	content:none;
}

a:focus {
	outline:thin dotted;
}

a:active,a:hover {
	outline:0;
}

ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

mark {
	background:#ff9;
	color:#000;
	font-style:italic;
}

del {
	text-decoration:line-through;
}

abbr[title],dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

strong {
	font-weight:bold;
}

dfn,em {
	font-style:italic;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

code,kbd,pre,samp {
	font-family:monospace,serif;
	font-size:1em;
}

pre {
	white-space:pre-wrap;
}

small {
	font-size:80%;
}

sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}

sup {
	top:-0.5em;
}

sub {
	bottom:-0.25em;
}

fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em;
}

hr {
	-moz-box-sizing:content-box;
	border:0;
	border-top:1px solid #cccccc;
	box-sizing:content-box;
	display:block;
	height:1px;
	margin:1em 0;
	padding:0;
}

textarea {
	overflow:auto;
	vertical-align:top;
}

input,select {
	vertical-align:middle;
}

button,input {
	line-height:normal;
}

button,select {
	text-transform:none;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
}

button[disabled],input[disabled] {
	cursor:default;
}

input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0;
}

input[type="search"] {
	-moz-box-sizing:content-box;
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0;
}