body.accept #sidebar h4 {
	color: #7e0303;
	font-size: 21px;
	margin-bottom: 10px;
	margin-left: -4px;
}

body.accept .wrapper {
	padding-right: 75px;
}

body.accept .tabs {
	border-bottom: 1px solid #adadad;
	height: 29px;
	margin-top: 17px;
	padding-left: 75px;
}

body.accept .tabs .tab {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	float: left;
	height: 24px;
	padding: 4px 28px 0;
}

body.accept .tabs .tab:hover {
	color: #7e0303;
	cursor: pointer;
}

body.accept .tabs .tab.active:hover {
	cursor: default;
}

body.accept .tabs .tab.active {
	border-bottom-color: #ffffff;
	border-left-color: #adadad;
	border-right-color: #adadad;
	border-top-color: #adadad;
}

body.accept .tabsContent .tabContent {
	display: none;
	font-size: 14px;
	padding: 40px 0 0 17px;
}

body.accept .tabsContent .tabContent.active {
	display: block;
}

body.accept .tabsContent dl {
	overflow: hidden;
}

body.accept .tabsContent dt {
	clear: left;
	float: left;
	padding-right: 5px;
	width: 195px;
}

body.accept .tabsContent dt.fullLength {
	width: 100%;
}

body.accept .tabsContent dt a {
	color: #3453c7;
}

body.accept .tabsContent dt a:hover {
	color: #5e96e2;
}

body.accept .tabsContent dd {
	clear: right;
	float: left;
	width: 396px;
}

body.accept .tabsContent dt,
body.accept .tabsContent dd {
	margin-bottom: 9px;
}

body.accept .tabsContent form input[type=text],
body.accept .tabsContent form input[type=password],
body.accept .tabsContent form textarea {
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #ffffff;
	behavior: url('pie/PIE.htc');
	border: 1px solid #afafaf;
	border-radius: 3px;
	font-size: 16px;
	margin: 0;
	padding: 3px 5px;
	width: 100%;
}

body.accept .tabsContent .phoneNumberInput .prefixWrapper {
	float: left;
	padding: 3px 0 0 2px;
}

body.accept .tabsContent .phoneNumberInput .fieldWrapper {
	float: right;
	width: 348px;
}

body.accept .tabsContent form textarea {
	height: 85px;
}

body.accept .tabsContent form input[type=submit] {
	margin-top: 5px;
	min-width: 200px;
}

body.accept .tabsContent dt label.quiet {
	color: #666666;
	display: block;
	font-size: 12px;
	overflow: hidden;
}

body.accept .tabsContent .forgotPasswordLink {
	font-size: 12px;
	left: 20px;
	position: relative;
	top: 4px;
}