<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
    <div class="goodList tableView">
        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount(); ?>
        <?php foreach ($_productCollection as $_product): ?>
            <div class="widget">
                <div class="innerWrapper">
                    <div class="header">
                        <h2><a title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" href="<?php echo $_product->getProductUrl() ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                        <a title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100); ?>" alt="placehold"></a>
                    </div>
                    <div class="description">
                        <?php $manufacturer = Mage::getModel('catalog/product')->load($_product->getId())->getAttributeText('manufacturer') ?>
                        <?php if ( $manufacturer && ( ! is_null( $manufacturer )) && ! empty( $manufacturer )): ?>
                            <p><strong>Производитель:</strong> <?php echo $manufacturer ?></p>
                        <?php endif ?>
                        <?php $country_of_manufacture = Mage::getModel('catalog/product')->load($_product->getId())->getAttributeText('country_of_manufacture') ?>
                        <?php if ( $country_of_manufacture && ( ! is_null( $country_of_manufacture )) && ! empty( $country_of_manufacture )): ?>
                            <p><strong>Страна:</strong> <?php echo $country_of_manufacture ?></p>
                        <?php endif ?>
                        <?php /*<p><strong>Коллекция:</strong> ???</p>*/ ?>
                    </div>
                </div>
                <div class="footer">
                    <a class="button" href="<?php echo $_product->getProductUrl() ?>"><span class="iconCart"><?php echo $this->getPriceHtml($_product, true) ?></span></a>
                </div>
            </div>
        <?php endforeach ?>
    </div>
<?php endif; ?>