<div id="navItemCategorySubmenu">
<?php
$collection = Mage::getModel('catalog/category')
    ->load(2)->getCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToSort('position');

foreach ($collection as $col) {

    if($col->getLevel()==2) {
        if ($col->getParentId() == 2) {
            echo '<h4>',
                '<a href="', $col->getUrl(), '">',
                $col->getName(),
                '</h4><ul>';
            foreach ($collection as $col2)
                if($col2->getLevel()==3)
                    if($col2->getParentId()==$col->getId())
                        echo '<li>',
                            '<a href="', $col2->getUrl(), '">',
                            $col2->getName(),
                            '</a></li>';
            echo '</ul>';
        }
    }
}
?>
</div>