<?php
global $_tileTownCategoris;
$_tileTownCategoris = NULL;
function tileTownPrintSubCategories($key) {
    global $_tileTownCategoris;
    if (is_null($_tileTownCategoris))
        $_tileTownCategoris = Mage::getModel('catalog/category')
            ->load(2)->getCollection()
            ->addAttributeToSelect('*')
            ->addAttributeToSort('position');

    // var_dump(count($_tileTownCategoris));
    foreach ($_tileTownCategoris as $col) {
        if($col->getLevel()==2) {
            if ($col->getParentId() == 2) {
                if($key==$col->getUrlKey()) {
                    echo '<a href="' . $col->getUrl() . '">'
                        . $col->getName()
                        . '</a>';
                    $isSub = false;
                    foreach ($_tileTownCategoris as $col2)
                        if($col2->getLevel()==3)
                            if($col2->getParentId()==$col->getId()) {
                                if (! $isSub) {
                                    $isSub = true;
                                    echo '<ul>';
                                }
                                echo '<li>'
                                    . '<a href="#">'
                                    . $col2->getName()
                                    . '</a></li>';
                            }
                    if ($isSub) echo '</ul>';
                }
            }
        }
    }
}
?>
<nav class="visual">
    <img src="/skin/frontend/tile_town/default/style/image/home-visual-navigation.png" usemap="imgmap201346214215" alt="">
    <map id="imgmap201346214215" name="imgmap201346214215">
        <area shape="poly" alt="Материалы" title="Материалы" coords="757,196,742,191,611,241,614,325,655,336,689,321,728,335,757,318,785,330,859,281,835,270,836,253,806,265,798,260,798,232,790,225,757,239" href="home.html" />
        <area shape="poly" alt="Сантехника" title="Сантехника" coords="440,116,441,70,445,57,437,47,487,45,481,112,588,77,646,86,637,106,590,183,582,232,565,230,565,205,474,229,468,261,451,260,448,236,432,226,431,241,411,238,418,216,381,180,354,126,333,113,352,104,407,116" href="home.html" />
        <area shape="poly" alt="Плитка" title="Плитка" coords="420,315,542,312,576,436,517,439,510,422,395,425" href="home.html" />
        <area shape="poly" alt="Аксессуары" title="Аксессуары" coords="34,197,43,196,42,274,62,272,71,287,70,323,76,322,82,303,92,307,93,320,153,310,172,326,166,383,160,386,175,401,173,418,108,432,90,396,19,413,12,391,11,279,33,274" href="home.html" />
        <area shape="poly" alt="Мебель" title="Мебель" coords="203,252,199,306,238,342,327,313,328,242,307,230,386,217,383,199,353,176,303,179,287,187,250,196,188,192,158,208,131,216,133,236,164,260" href="home.html" />
        <!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
    </map>
    <div id="vNavPlumbing" class="flyLink">
        <?php tileTownPrintSubCategories('sanitary-engineering') ?>
    </div>
    <div id="vNavFurniture" class="flyLink">
        <?php tileTownPrintSubCategories('furniture') ?>
    </div>
    <div id="vNavMaterials" class="flyLink">
        <?php tileTownPrintSubCategories('materials') ?>
    </div>
    <div id="vNavAccessories" class="flyLink">
        <?php tileTownPrintSubCategories('accessories') ?>
    </div>
    <div id="vNavTiles" class="flyLink">
        <?php tileTownPrintSubCategories('tiles') ?>
    </div>
    <div id="vNavHeating" class="flyLink">
        <?php tileTownPrintSubCategories('heating') ?>
    </div>
</nav>