<div id="footerWrapper" class="clear">
    <section id="mainFooter">
        <footer>
            <p>Интернет магазин кафеля и сантехники</p>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <address>
                                <nobr>Днепропетровск, Украина</nobr><br />
                                <nobr>ул. Пушкинская, 37</nobr><br />
                                <nobr>(0562) 31-40-47</nobr><br />
                                <nobr>(098) 447-34-04</nobr><br />
                                <nobr>(095) 779-31-33</nobr>
                            </address>
                        </td>
                        <td>
                            <address>
                                <nobr>E-mail: sale@kafel-santehnika.com</nobr><br />
                                <nobr>Заказы обрабатываются:</nobr><br />
                                <nobr>Пн-пт с 9:00 до 19:00</nobr><br />
                                <nobr>Сб: с 11:00 до 16:00</nobr><br />
                                <nobr>Вс: выходной день</nobr>
                            </address>
                        </td>
                        <td>
                            <?php echo $this->getChildHtml('footerLinks') ?>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="footerContacts">
                <div class="socials">
                    <div class="vkButton">
                        <div id="vk_like"></div>
                    </div>
                    <div class="gpButton">
                        <div class="g-plusone" data-size="medium"></div>
                    </div>
                </div>
                <address>
                    <nobr>Днепропетровск, Украина</nobr><br />
                    <nobr>ул. Пушкинская, 37</nobr><br />
                    <nobr><a href="#">Tile-town.com.ua</a></nobr>
                </address>
            </div><!--#/footerContacts-->
        </footer>
    </section>
</div><!--#/mainFooter-->