<section id="mainNavigation">
    <nav role="navigation">
        <?php echo $this->getChildHtml('navCategories') ?>
        <?php echo $this->getChildHtml('topLinks') ?>
    </nav><!--r/navigation-->
</section><!--#/mainNavigation-->
<section id="mainHeader">
    <header role="banner">
        <div id="banner"><a href="#">&nbsp;</a></div>
        <div id="headerOptions">
            <div id="headerSearch" role="search">
                <form action="#">
                    <input type="text">
                    <input type="submit" value="Поиск">
                </form>
            </div><!--#/search--><!--r/search-->
            <div id="headerContacts">
                <div class="options">
                    <dl>
                        <dt><nobr><small>(0562)</small> 31-40-47</nobr></dt>
                        <dt><nobr><small>(095)</small> 779-31-33</nobr></dt>
                        <dt><nobr><small>(098)</small> 447-34-04</nobr></dt>
                    </dl>
                </div>
                <div class="dropDown">
                    <em><nobr>Днепропетровск, Украина</nobr></em>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, amet ullam quia officiis facere corrupti illo labore iste voluptatem exercitationem recusandae facilis accusantium. Tenetur, laborum perspiciatis consectetur incidunt hic totam?</p>
                    </div>
                </div>
            </div><!--#/headerContacts-->
            <div id="userPanel">
                <div class="options">
                    <a href="#">Вход</a> или <a href="#">Регистрация</a>
                </div>
            </div><!--#/userPanel-->
            <div id="cart">
                <!-- <div class="options">Ваша корзина пуста</div> -->
                <div class="options">2 товара<br /><a href="#">Оформить заказ</a></div>
            </div><!--#/cart-->
        </div>
    </header><!--r/banner-->
</section><!--#/mainHeader-->